<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}
  <style>
    .bottom-three { margin-bottom: 1.5cm; }
    .bottom-small { margin-bottom: 1cm; }
  </style>
</head>

<body class="page">

  {% include _browser-upgrade.html %}
  {% include _navigation.html %}

  {% if page.image.feature %}
    <div class="image-wrap">
      <img src=
        {% if page.image.feature contains 'http://' %}
           "{{ page.image.feature }}"
        {% elsif page.image.feature contains 'https://' %}
           "{{ page.image.feature }}"
        {% else %}
           "{{ site.url }}/images/{{ page.image.feature }}"
        {% endif %}
      alt="{{ page.title }} feature image">
      {% if page.image.credit %}
        <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
      {% endif %}
    </div>
  {% endif %}

  <div id="main" role="main">
    <div class="article-author-side">
      {% include _author-bio.html %}
    </div>
    <article>
      <div class="article-wrap">

        <!-- • Work Experience -->
        <p align="center" class="bottom-small">
          <img src="{{ site.url }}/images/CV/work_bag.jpg" alt="Work Experience" width="70" height="70">
        </p>

        <p align="center">
          &#8226 I am currently a <strong>PhD student</strong> at the <a href="https://www.usc.edu" target="_blank">University of Southern California</a>, specializing in signal processing and multimedia systems.
        </p>
        <p align="center">
          &#8226 Previously, I worked as a contracted researcher at <a href="https://atlanttic.uvigo.es/" target="_blank">atlanTTic – University of Vigo</a>, where I contributed to multimedia stealth forensics and distributed sensing platforms.
        </p>
        <p align="center">
          &#8226 I was a post‑graduate researcher at Imperial College London under <a href="https://alumni.media.mit.edu/~ayush/" target="_blank">Dr Ayush Bhandari</a>,
          focusing on computational sensing and time‑resolved phenomena.
        </p>
        <p align="center" class="bottom-three">
          &#8226 As an undergraduate, I collaborated with the startup
          <a href="https://aidfork.uvigo.es/" target="_blank">AidFork</a> on multimedia authentication tools.
        </p>

        <!-- • Education -->
        <p align="center" class="bottom-small">
          <img src="{{ site.url }}/images/CV/academic_hat.png" alt="Education" width="70" height="70">
        </p>

        <p align="center">
          &#8226 Currently pursuing a PhD in Electrical &amp; Computer Engineering at USC.
        </p>
        <p align="center">
          &#8226 MSc in Communications and Signal Processing, Imperial College London.
        </p>
        <p align="center">
          &#8226 BSc in Telecommunications Engineering, University of Vigo; Barrié Foundation Scholar.
        </p>
        <p align="center" class="bottom-three">&nbsp;</p>

        <p align="center" class="bottom-small">
          <img src="{{ site.url }}/images/CV/lang.jpg" alt="Languages" width="70" height="70">
        </p>

        <p align="center">
          &#8226 Galego (native) • Español (native) • English (fluent).
        </p>

        <br/>

        {{ content }}

      </div><!-- /.article-wrap -->
    </article>
  </div><!-- /#main -->

  <div class="footer-wrap">
    <footer>
      {% include _footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->

  {% include _scripts.html %}
</body>
</html>
